@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Global Presets */
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
}
/* Site Specific CSS */
body {
    font-family: Bebas Neue, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 3rem;
    letter-spacing: 0.35rem;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} /* The top/left 50% then translated -50% allows for the image to be placed directly in the center. Top left of image would be centered without the translate*/

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
}

/* Media Query: Large Smartphone <-- best to just test in dev tools what you like then add a @media in your code after*/
@media screen and (max-width: 600px){
    h1 {
        font-size: 1 rem;
    }
    .image-container {
        margin: 10px;
    }
}
